$avatar-width: 60vw;
$avatar-height: 40vh;

$screen-height: 100vh;

body {
  margin: 0;
}

.height-full {
  display: flex;
  min-height: $screen-height;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
}

.avatar-frame {
  position: relative;
  height: Min($avatar-width, $avatar-height);
  width: Min($avatar-width, $avatar-height);
}

.avatar {
  padding: 1%;
  border-style: solid;
  border-radius: 50%;
  object-fit: fill;
  border-color: #666666;
}

.title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.subtitle {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
}

.social-link-bar {
  display: flex;
  flex-direction: row;
}

.social-link-frame {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  color: #303030;
  :visited {
    color: #303030;
  }
  :hover {
    font-size: 2.5rem;
    color: #666666;
  }
  :active {
    color: #303030;
  }
}
