$screen-height: 100vh;

$small-device-breakpoint: 480px;

@mixin avatar-frame-def($max-avatar-width, $max-avatar-height) {
  height: Min($max-avatar-width, $max-avatar-height);
  width: Min($max-avatar-width, $max-avatar-height);
}

body {
  margin: 0;
}

.height-full {
  display: flex;
  min-height: $screen-height;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
}

.avatar-frame {
  position: relative;
  @include avatar-frame-def(30vw, 30vh);
}

.avatar {
  padding: 1%;
  border-style: solid;
  border-radius: 50%;
  object-fit: fill;
  border-color: #666666;
}

.title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
}

.social-link-bar {
  display: flex;
  flex-direction: row;
}

.social-link-frame {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  color: #303030;
  :visited {
    color: #303030;
  }
  :hover {
    font-size: 2.5rem;
    color: #666666;
  }
  :active {
    color: #303030;
  }
}

@media (max-width: $small-device-breakpoint) {
  .avatar-frame {
    @include avatar-frame-def(60vw, 40vh);
  }
}
